@model MaerskLine_TP034179.ViewModels.ScheduleShipCustomerViewModel

@{
    ViewBag.Title = "SelectCustomer";
}

<h2>Select Customer</h2>

<table class="table">
    <tr>
        <th>
            Schedule ID
        </th>
        <th>
            Schedule Origin
        </th>
        <th>
            Schedule Destination
        </th>
        <th>
            Schedule Departure Time
        </th>
        <th>
            Schedule Arrival Time
        </th>
    </tr>
    <tr>
        <td>
            @Model.Schedule.ScheduleID
        </td>
        <td>
            @Model.Schedule.Origin
        </td>
        <td>
            @Model.Schedule.Destination
        </td>
        <td>
            @Model.Schedule.DepartureDateTime
        </td>
        <td>
            @Model.Schedule.ArrivalDateTime
        </td>
    </tr>
</table>

<table class="table">
    <tr>
        <th>
            Ship ID
        </th>
        <th>
            Ship Name
        </th>
        <td>
            Ship Container Space
        </td>
    </tr>
    <tr>
        <td>
            @Model.Ship.ShipID
        </td>
        <td>
            @Model.Ship.ShipName
        </td>
        <td>
            @Model.Ship.ShipContainerSpace
        </td>
    </tr>
</table>


<table class="table">
    <tr>
        <th>
            Customer ID
        </th>
        <th>
            Name
        </th>
        <th>
            Email
        </th>
        <th>
            ContactNo
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Customers)
    {
        <tr>
            <td>
                @item.CustomerID
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @item.ContactNo
            </td>
            <td>
                @Html.ActionLink("Select", "SelectContainer", "Bookings", new { Customerid = item.CustomerID, Scheduleid = @Model.Schedule.ScheduleID, Shipid = @Model.Ship.ShipID }, new { @class = "btn btn-success btn-xs" })
            </td>
        </tr>
    }

</table>
