@model IEnumerable<MaerskLine_TP034179.Models.Ship>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Create New Ship", "New", "",new {@class = "btn btn-success"})

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShipName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipContainerSpace)
        </th>
        <th></th>
    </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShipName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipContainerSpace)
            </td>
            <td>
            
                @Html.ActionLink("Edit", "Edit", new {id = item.ShipID}, new {@class = "btn btn-warning btn-xs" }) 
                @Html.ActionLink("Details", "Details", new {id = item.ShipID}, new { @class = "btn btn-info btn-xs" }) 
                @Html.ActionLink("Delete", "Delete", new {id = item.ShipID}, new { @class = "btn btn-danger btn-xs" })
            </td>
        </tr>
    }

</table>
