@model IEnumerable<MaerskLine_TP034179.Models.Schedule>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Create New Schedule", "New", "", new { @class = "btn btn-success" })

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Origin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartureDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalDateTime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Origin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalDateTime)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ScheduleID }, new { @class = "btn btn-warning btn-xs" })
                @Html.ActionLink("Details", "Details", new { id = item.ScheduleID }, new { @class = "btn btn-info btn-xs" })
                @Html.ActionLink("Delete", "Delete", new { id = item.ScheduleID }, new { @class = "btn btn-danger btn-xs" })
            </td>
        </tr>
    }

</table>


